<section id="configuracion" data-transition="slide">
	<header data-back="chevron-left blue" data-title="Configuracion">
		<a href="#back" data-router="section"><span class="icon left"></span></a></nav>
	</header>

	<article id="opciones" class="active scroll">
		<form>
			<fieldset>
				<label>Auto-Refresco</label>
				<input type="range" min="0" max="1" class="checkbox active right" value="1">
			</fieldset>
			<fieldset>

				<label class="select">
					<select>
						<option value="1">5 minutos</option>
						<option value="2">10 minutos</option>
						<option value="3">15 minutos</option>
						<option value="4">30 minutos</option>
						<option value="5">1 hora</option>
						<option value="6">5 hora</option>
					</select> </label>

			</fieldset>
			<a href="#" class="button cancel anchor" data-label="Restaurar por defecto"></a>
		</form>
	</article>
</section>