<section id="detalles" data-transition="slide">
    <header data-back="chevron-left blue" data-title="Detalles">
    	<nav class="left">
    	<a href="#back" data-router="section"><span class="icon left"></span></a>
    	</nav>
    	<nav class="rigth">
            <a href="#" id="share" data-action="share" class="button theme"><span class="icon share"></span></a>
        </nav>
    </header>

    <article id="detal" class="active list indented scroll">
    	<ul>
    	</ul>
    	
       
    </article>
</section>